<h1>TASKS</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Actions</th> <!-- Column for actions (Show, Delete) -->
    </tr>
  </thead>
  <tbody>
    <% @informations.each do |task| %> <!-- Ensure @tasks is the correct collection -->
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td> <!-- Formatting datetime -->
        <td><%= task.updated_at.strftime('%Y-%m-%d %H:%M:%S') %></td> <!-- Formatting datetime -->
        <td>
          <%= link_to 'Show', task_path(task), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
